version: '3.8'

services:

  mongo:
    image: mongo:latest
    container_name: mongodb
    restart: always
    volumes:
      - mongo-data:/data/db

  backend:
    image: sagarsalve49/mean-backend:latest
    container_name: backend
    restart: always
    ports:
      - "5000:8080"        # HOST:CONTAINER
    environment:
      - MONGO_URI=mongodb://mongo:27017/testdb
    depends_on:
      - mongo

  frontend:
    image: sagarsalve49/mean-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo-data:
